name: stage-preview

on:
  workflow_dispatch:

permissions:
  pages: write
  id-token: write
  contents: read

concurrency:
  group: pages-stage-preview
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    # environment är mest kosmetiskt här – du kan behålla "stage" om du vill
    environment: stage
    steps:
      - uses: actions/checkout@v4

      - uses: actions/upload-pages-artifact@v3
        with:
          path: .

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
        with:
          preview: true
